/* responsive sizes */
$Tablet:760px;
$Desktop:1200px;

/* colors */
$MainBackground:   linear-gradient(to top, #007adf 0%, #00ecbc 100%);
$yellowRick: #fbfc74;
$blueRick:#04a2b9;
$blackRick:#232b2b;

$fontFamily:'Rubik', sans-serif;