html{
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}
.App{
    height:100%;
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
   font-family: $fontFamily;
   position:relative;
}