/* display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 450px 450px 450px;
        margin-bottom:40px; */
.CharacterList{
        display: grid;
        grid-column:1;
        grid-row: 20;
        grid-gap:20px;
        justify-content: center;
        height:100%;
        margin-top:40px;
}